---
interface Props {
  title: string;
  description: string;
  pubDate: Date;
  author?: string;
  slug: string;
}

const { title, description, pubDate, author = "Avinash Shenoy", slug } = Astro.props;

const formattedDate = pubDate.toLocaleDateString("en-US", {
  weekday: "short",
  year: "numeric",
  month: "short",
  day: "numeric",
});
---

<div class="post-preview">
  <a href={`/blog/${slug}`}>
    <h2 class="post-title">{title}</h2>
    <div class="post-content-preview">
      {description}
    </div>
  </a>
  <p class="post-meta">
    Posted by {author} on {formattedDate}
  </p>
</div>
<hr />
