---
import BaseLayout from "./BaseLayout.astro";
import HeroBanner from "../components/HeroBanner.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { title, description, pubDate, updatedDate, tags, heroImage } = post.data;

const formattedPubDate = pubDate.toLocaleDateString("en-US", {
  weekday: "short",
  year: "numeric",
  month: "short",
  day: "numeric",
});

const meta = `Posted by Avinash Shenoy on ${formattedPubDate}`;
---

<BaseLayout title={title} description={description} image={heroImage}>
  <HeroBanner
    slot="hero"
    title={title}
    type="post"
    meta={meta}
    backgroundImage={heroImage || "/images/home-bg.jpg"}
  />

  <div class="container">
    <div class="row">
      <div class="col-content">
        <article class="post-container">
          {tags.length > 0 && (
            <div class="tags" style="margin-bottom: 30px;">
              {tags.map((tag) => (
                <span class="tag">{tag}</span>
              ))}
            </div>
          )}

          <slot />
        </article>
      </div>
    </div>
  </div>
</BaseLayout>
